{% extends "base.html.twig" %}

{% block title %}Profil - Modification 🛠️{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="panel-content">
            <h1 class="text-center">Une p'tite modification d'profil 🙉</h1>
            <br>
            {{ form_start(form, {'method': 'post', 'action': path('modify_profile',{'id': user.id})}) }}
            {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
            <div class="form-group text-center">
                <input class=" btn btn-primary btn-md login-button" type="submit" value="Modifier" />
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
        
    <script>
       $(document).ready(function(){
            //Autocomplete
            initializeAutocomplete('app_user_registration_address');
        });
        //Autocomplete 
        function initializeAutocomplete(id){
            var element = document.getElementById(id);  
            if (element) { 
                var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
                google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
            }
        }
        function onPlaceChanged() {
            var place = this.getPlace();
            console.log(place);  // Uncomment this line to view the full object returned by Google API.
            for (var i in place.address_components) {
              var component = place.address_components[i];    
              for (var j in component.types) {
                var type_element = document.getElementById(component.types[j]);      
                if (type_element) {
                  type_element.value = component.long_name;
                }    
              }  
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA0wuGfkqLD67jR6NfcC8mm4EuUROGis_I"
    async defer></script>
{% endblock %}

