<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; Imali 2019-2020 -- <a class="btn btn-outline-success no-decoration" href='{{ path('rules') }}'>Règles du site</a></p>
    </div>
    <!-- /.container -->
</footer>