{% extends "base.html.twig" %}

{% block title %}Map{% endblock %}


{% block body %}
    <br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
       <div class="row">
            <div class="col-md-2">
                <a href="{{path('map_event')}}" class="btn btn-primary mybtn">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                     Map des events
                 </a>
            </div>
            <div class="col-md-8">
                <h1 class="text-center">Les P'tits Lieux</h1>
            </div>
            <div class="col-md-2">
                <a href="{{path('map_job')}}" class="btn btn-primary mybtn">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    Map des jobs
                </a>
            </div>
        </div>
        <br>
      
        <div id="map" style="height:500px; width:100%"></div>

    </div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.8415, lng: 2.2386},
          zoom: 12
        });
       var i=0;
       var allPos= {{  allPos|json_encode|raw }};
       var allName = {{  userName|json_encode|raw }};
       var infoWindow = new google.maps.InfoWindow(); //display the place name on the map
       
       for(i=0;i<allPos[0].length;i++ ){

              var newPos = {lat: parseFloat(allPos[0][i]), lng: parseFloat(allPos[1][i]) };
              console.log(newPos);
              var imagePerso ='../../build/images/profile/mini/'+allName[i]+'.png';
              console.log(imagePerso);
              var markerDepart = new google.maps.Marker({
                  position: newPos,
                  map: map,
                  icon: imagePerso,
                  infoWindowContent: allName[i]
              });

              //listener that display the pharmacy name when there is a 'click' on it
              google.maps.event.addListener(markerDepart, 'click', function() {
                  infoWindow.setContent(this.infoWindowContent);
                  infoWindow.open(map,this);
              });

          }
          
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0wuGfkqLD67jR6NfcC8mm4EuUROGis_I&callback=initMap"
    async defer></script>
        

{% endblock %}

