{% trans_default_domain 'FOSUserBundle' %}

{% extends "fos/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-5 mx-auto" style="background-color: white; border: 1px solid rgba(0,0,0,.2); border-radius: 1.1rem;padding-top: 15px;">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Changer de mot de passe</h1>
                            </div>
                        </div>
  
                        {{ form_start(form, { 'action': path('fos_user_change_password')}) }}
                        {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
                        <div class=" form-group col-md-12 text-center">
                            <input class=" btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
                 