{% trans_default_domain 'FOSUserBundle' %}

{% extends "fos/layout.html.twig" %}

{% block fos_user_content %}
    <div class="page-content">
        <div class="panel-content col-md-5 mx-auto form-panel">
            <div class="row">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Changer de mot de passe 🔏</h1>
                            </div>
                        </div>
                        {{ form_start(form, { 'action': path('fos_user_change_password')}) }}
                        {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
                        <div class=" form-group col-md-12 text-center">
                            <input id="submit" class=" btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
                        
        </div>
    </div>
{% endblock %}
                 