body {
    background-color: lightgray;
}

.middle{
    margin: auto;
}

.center{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
}

.rounded{
    border-radius: 0.5em;
}

.margin-auto{
    margin:auto;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.dot{
  height: 15px;
  width: 15px; 
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 50%;
  display: inline-block;
}

.green{
    background-color: rgb(66, 183, 42);
}

.red{
    background-color: red;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mybtn{
    border-radius: 1.5rem;
    padding: 3%;
    font-weight: 600;
}

/* Modal CSS */
.modal-content {
  /*background-color: #fefefe;*/
}

.modal-header {
  /*background-color: rgb(94, 181, 224);
  color: white;*/
}

.modal-footer {
  /*background-color: rgb(94, 181, 224);
  color: white;*/
}

.home_fc-scroller{
  height: auto!important;
  max-height: 200px;
}

.notification{
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 9px;
    background: #f44336;
    color: #fff;
    z-index: 1;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}

.notif-content{
    white-space: initial;
    font-size: 80%;
}

/* Pictures CSS*/

.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

/* CALENDAR STYLE */
.fc-toolbar h2 {
    font-size: 1.25em !important;
}

/* Carrousel STYLE*/
div#carrousel{
    padding-top: 10%;
    max-width: 1000px;
    overflow: hidden;
}

#carrousel figure{
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

#carrousel figure img{
    width: 25%;
    height: auto;
    float: left;
}

@keyframes slidy{
    0% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%;}
    55% {left: -100%;}
    60% {left: -200%;}
    85% {left: -200%;}
    90% {left: -300%;}                  
}

/* Autocomplete*/
.ui-autocomplete {
     z-index: 10000 !important;
}