body {
     background-color: #5EB571;
     font-family: 'Montserrat', sans-serif;
     margin: 0;
}

h1 {
}

 h3 {
}

a{
    font-size: 125%;
}

.italic{
    font-style: italic;
}

.main-container{
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.logo-imali{
    width: 50px;
}

.myAlert{
    position: absolute;
    z-index: 1;
    font-size: 16px;
    opacity: 82%;
    margin-top:47px;
    margin-left:63%;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40!important;
}

.navigation{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.middle{
    margin: auto;
}

.block{
    display: block;
}

.bottom{
    margin-bottom: 1%;
}

.big{
    font-size: 120%;
}

.center{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
}

.rounded{
    border-radius: 0.5em;
}

.margin-auto{
    margin:auto;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.no-decoration{
    text-decoration: none !important;
}

.help{
    cursor: help;
    text-align: initial;
}

.dot{
  height: 15px;
  width: 15px; 
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 50%;
  display: inline-block;
}

.green{
    background-color: rgb(66, 183, 42);
}

.red{
    background-color: red;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mybtn{
    border-radius: 1.5rem;
    padding: 3%;
    font-weight: 600;
}

/* Modal CSS */
.modal-content {
  /*background-color: #fefefe;*/
}

.modal-header {
  /*background-color: rgb(94, 181, 224);
  color: white;*/
}

.modal-footer {
  /*background-color: rgb(94, 181, 224);
  color: white;*/
}

.home_fc-scroller{
  height: auto!important;
  max-height: 200px;
}

.notification{
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 9px;
    background: #f44336;
    color: #fff;
    z-index: 1;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}

#notif_content{
    min-width: 333px; 
}
    
.notif-content{
    white-space: initial;
    font-size: 80%;
}

/* Pictures CSS*/

.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

/* CALENDAR STYLE */
.fc-toolbar h2 {
    font-size: 1.25em !important;
}

/* Carrousel STYLE*/
div#carrousel{
    padding-top: 10%;
    max-width: 1000px;
    overflow: hidden;
}

#carrousel figure{
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

#carrousel figure img{
    width: 25%;
    height: auto;
    float: left;
}

@keyframes slidy{
    0% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%;}
    55% {left: -100%;}
    60% {left: -200%;}
    85% {left: -200%;}
    90% {left: -300%;}                  
}

/* Audio player */
.audio-player{
    float: right;
}


/* RESPONSIVE MEDIA*/
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    .footer-fos{
        position: fixed;
        margin-top: 2%;
    }
    .footer{
        line-height: 95px;
    }
}
@media only screen and (max-width: 560px) {
    .tab-item{
        padding: 2%;
        font-size: 130%;    
    }
}
@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 993px) {
    .audio-player{
        margin-right: 25%;
    }
    .footer{
        font-size: 2em;
        height: 7%;
        margin-top: 1%;
    }
    .logo-imali{
        width: 85px;
    }
    .btn{
        border: 2px solid;
        font-weight: 600;
        font-size: 125%;
        border-radius : 6%;
    }
    .myImg{
        width: 10%;
        height: 100%;
    }
    .myAlert{
        margin-top:70px!important;
        margin-left:59%;
        font-size: 22px;
    }
    .media{
        font-size: 145%;
    }
    #calendar{
        margin-bottom: 2%;
    }
    .border-panel-left{
        display:none;
    }
    .border-panel-right{
        display:none;
    }
    .border-panel-center{
        padding: 3%;
        flex: 1!important;
        max-width: 100%!important;
        margin-right: -1.7%;
    }
    .tab-item{
        padding: 3%;
    }
    #navContent{
        flex-direction: row!important;
    }
    .myPic{
        width: 38px!important;
        height: 38px!important;
    }
    .myNavbar{
       font-size:24px; 
    }
    .navbar-brand{
        font-size: 3em;
        margin-right: 1rem;
        display: none;
    }
    .profile-picture{
        width: 75%!important;
    }
    .main-container{
        font-size:24px;
    }
    .page-content{
        padding-top:8%!important;
        padding: 3%!important;
    }
   .panel-content{
       font-size:2em;
       margin-top:6%!important;
       margin-right: -1.7%;
    }
   .lead{
       font-size: 2rem;
    }
   h1 {
        font-size: 3rem!important;
    }
   h3 {
        font-size: 2rem!important;
    }
    .form-control{
        font-size: unset;
    }
    .dropdown-menu{
        font-size: inherit;
    }
    #notif_content{
       min-width: 560px; 
    }
}

/* Autocomplete*/
.ui-autocomplete {
     z-index: 10000 !important;
}

/* google autocomplete */
.pac-container{
    z-index: 100000 !important;
}

/* Responsive img*/
.myImg{
    width: 5%;
    height: 100%;
}


/* Profile */
.profile-picture{
    border-radius:5%;
    width: 50%;
    height: 100%;
}

/* Main Panel*/
.page-content{
     padding:10%;
     padding-top:4%;
     padding-bottom:0;
     margin-right:0;
}
.panel-content{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.border-panel-center{
    flex: 0 0 75%;
    max-width: 75%;
}
.border-panel-left{
    flex: 0 0 11.5%;
    max-width: 11.5%;
}
.border-panel-right{
    flex: 0 0 13.5%;
    max-width: 13.5%;
    padding:1%;
}

.form-content{
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    padding-top: 15px;
}

/* Navbar top */
.myNavbar{
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.myPic{
    border-radius:60%;
    width: 28px;
    height: 28px;
}

.dropdown-menu{
    position: absolute!important;
}

.card-header-title{
    text-align: center;
    font-family: cursive;
    font-size: large;
}

