{% extends "base.html.twig" %}

{% block title %}Catan{% endblock %}

{% block body %}
    <br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
        <h1 class="text-center">Le P'tit Jeu de la Vie 🎲</h1>
        <br>
        <canvas id='Can' class='center'></canvas>
    </div>

 <script>
    var cnv,ctx,X,Y,D,N,TIT,CLR0,CLR1,CC=[];

    function Key(ev) {
      if ((k=ev.keyCode)==32) {/*' '*/ ev.preventDefault(); Step(); return;}
      if ((k>=48)&&(k<=57)) {/*'0'...'9'*/ FctIni(k-48); N=0; Dims();
        document.title="Game of life ('"+TIT+"' step: 0)"; return;}
      if (k==83) {/*'S'*/ if (D>1) {--D; Dims();} return;}
      if (k==66) {/*'B'*/ ++D; Dims(); return;}
      
    }
    function Click(ev)  {
      r=cnv.getBoundingClientRect();
      d=D+1; x=(ev.clientX-r.left)/d|0; y=(ev.clientY-r.top)/d|0; z=x+y*X;
      ctx.fillStyle=(CC[z]=1-CC[z])?CLR1:CLR0; ctx.fillRect(1+x*d,1+y*d,D,D);
    }
    function Dims() {
      cnv.width=DX=1+X*(D+1); cnv.height=DY=1+Y*(D+1);
      ctx.fillStyle=CLR0; ctx.fillRect(0,0,DX,DY); ctx.fillStyle=CLR1;
      d=D+1; z=0; y=0; do {
        x=0; do if(CC[z++]) ctx.fillRect(1+x*d,1+y*d,D,D); while (++x<X);
      } while (++y<Y);
    }
    function Ini() {
      document.addEventListener('keydown',Key,false);
      cnv=document.getElementById('Can');
      cnv.addEventListener('click',Click,false);
      ctx=cnv.getContext('2d'); ctx.imageSmoothingEnabled=true;
      FctIni(3); N=0; Dims();
    }

    function Clear() {i=X*Y; do CC[--i]=0; while (i>0);}
</script>
        
{% endblock %}
