{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Calendrier{% endblock %}


{% block body %}
    <br>
    <div class="container" style="padding: 3%;margin-top: 3%;margin-bottom: 3%;border-radius: 0.5rem;background: #fff;">
        <h1 class="text-center">Les P'tites Photos</h1>
        <br>
        {% for album in albums %}
            {{ album.name }}
        {% endfor %}

    </div>

{% endblock %}

