{% extends "fos/layout.html.twig" %}

{% block fos_user_content %}
    <div class="page-content">
        <div class="panel-content col-md-5 mx-auto form-panel">
            <div class="row">
                <div id="first" style="width: 100%;">
                    <div class="myform form ">
                        <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Inscription 👻</h1>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
                        <div class="form-group text-center">
                            <input class=" btn btn-primary btn-md login-button" type="submit" value="S'inscrire" />
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}